// Font

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Solway:wght@300;400;500;700;800&display=swap");
// #region config

// Reset

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none !important;
}

// #region Variaveis
$container-widht: 400px;

//Colors background
$colorBg1: #ffffff;
$colorBg2: #371406;
$colorBack: #000000;

// Colors Text
$colorPrimary: white;
$colorSecondary: #946926;
$colorTertiary: #371406;
$colorQuartenary: #b3b3b3;

// #region Sizes - Adaptado para Mobile

$superTitle: 2.5rem; // ≈ 40px – Título de destaque principal
$titleDefault: 2rem; // ≈ 32px – Título padrão
$subtitleDefault: 1.5rem; // ≈ 24px – Subtítulo
$subSubtitleDefault: 1.2rem; // ≈ 19px – Sub-subtítulo ou legendas
$paragraphDefault: 1em; // ≈ 16px – Texto comum / parágrafos
$anchorDefault: 1em; // ≈ 16px – Links e botões menores

// #endregion

/* font */
$font: "Poppis", sans-serif;

// #endregion

// #region Mixins
@mixin container {
  width: 100%;
  max-width: $container-widht;
  margin: 0 auto;
  padding: 1.5rem 0;
}

@mixin area {
  height: 100dvh;
  width: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// #endregion

// #region formatações
h1 {
  font-size: $superTitle;
}

h2 {
  font-size: $titleDefault;
  font-family: $font;
}

h3 {
  font-size: $subtitleDefault;
  font-family: $font;
  color: $colorTertiary;
}

h4 {
  font-size: $subSubtitleDefault;
  font-family: $font;
  color: $colorTertiary;
}

p {
  font-size: $paragraphDefault;
  font-family: $font;
}

a {
  font-size: $anchorDefault;
  font-family: $font;
}

::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d1d0a;
}

::-webkit-scrollbar-thumb {
  background-color: $colorTertiary;
  border-radius: 12px;
}

hr {
  width: 80px;
  height: 4px;
  border-radius: 12px;
  background-color: $colorSecondary;
  border: none;
}

::selection {
  background-color: $colorBg2;
  color: ghostwhite;
}

.star {
  animation: blink 1.5s infinite;
  display: inline-block;
  font-size: 1.5em;
  color: goldenrod;
}

@keyframes blink {

  0%,
  100% {
    color: rgb(185, 140, 25);
  }

  50% {
    color: gold;
    font-size: 1.6em;
  }
}

.star {
  @for $i from 2 through 5 {
    $delay: 0.3s * ($i + 1);

    &:nth-child(#{$i}) {
      animation-delay: $delay;
    }
  }
}

// #endregion

// #endregion

html {
  scroll-behavior: smooth;
  font-family: $font;

  body {
    width: 100%;
    max-width: 500px;
    height: 100dvh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #eecdc5, #fff);


    // #region loader
    .loader {
      width: 35px;
      height: 80px;
      position: relative;
    }

    .loader:after {
      content: "";
      position: absolute;
      inset: 0;
      padding: 3px 5px;
      border-top: 1px solid #bbb6aa;
      border-bottom: 4px solid #bbb6aa;
      background: linear-gradient(#612329 0 0) bottom no-repeat content-box,
        #e4e0d7;
      mix-blend-mode: darken;
      animation: l1 1.5s infinite linear;
    }

    .loader:before {
      content: "";
      position: absolute;
      inset: -18px calc(50% - 2px) 8px;
      background: #eb6b3e;
      transform-origin: bottom;
      transform: rotate(8deg);
    }

    @keyframes l1 {
      0% {
        background-size: 100% 100%;
      }

      100% {
        background-size: 100% 5%;
      }
    }

    #loader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }

    .loading-text {
      font-size: 1.2rem;
      color: #5e3c2d;
      margin-top: 10px;
      font-weight: bold;
    }

    .dot {
      display: inline-block;
      opacity: 0;
      font-size: 1.5rem;
      animation: blink4 1.2s infinite ease-in-out both;
    }

    .dot:nth-child(2) {
      animation-delay: 0.2s;
    }

    .dot:nth-child(3) {
      animation-delay: 0.4s;
    }

    @keyframes blink4 {

      0%,
      80%,
      100% {
        opacity: 0;
      }

      40% {
        opacity: 1;
      }
    }

    // #endregion

    .btn-app {
      background-color: #a36a4f;
      border: none;
      padding: 5%;
      color: white;
      font-weight: 700;
      letter-spacing: 0.5px;
      border-radius: 12px;
      transition: 0.5s;

      &:hover {
        opacity: 80%;
      }
    }

    #login {
      width: 100%;
      height: 100dvh;

      .container-home {
        width: 100%;
        height: 100dvh;

        .swiper {
          width: 100%;
          height: 100%;
          @include flex-center();
          flex-direction: column;
        }

        .swiper-wrapper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          @include flex-center();
          flex-direction: column;

          figure {
            position: relative;
            width: 100%;
            height: 100%;
            margin-top: -20%;

            img {
              width: 100%;
              height: auto;
            }
          }

          .home-txt {
            position: relative;
            height: 300px;
            width: 100%;
            @include flex-center();
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;
            z-index: 3;
            gap: 15px;
            margin-top: -75%;

            h2,
            p {
              position: relative;
              z-index: 3;
            }

            h2 {
              color: white;
              letter-spacing: 0.5px;
              font-size: 2.2em;
            }

            p {
              color: #ffffffc1;
              font-size: 1em;
              width: 80%;
            }

            .btn-app {
              width: 85%;
              font-size: 1.2em;
              border-radius: 25px;
              margin-top: 2%;
            }
          }

          .gradient-home {
            position: absolute;
            width: 100%;
            min-height: 400px;
            top: 40%;
            background: linear-gradient(to bottom,
                rgba(55, 20, 6, 0.1) 0%,
                rgba(55, 20, 6, 0.2) 5%,
                rgba(55, 20, 6, 0.3) 10%,
                rgba(55, 20, 6, 0.4) 15%,
                rgba(55, 20, 6, 0.5) 20%,
                rgba(55, 20, 6, 0.6) 25%,
                rgba(55, 20, 6, 0.7) 30%,
                rgba(55, 20, 6, 0.8) 35%,
                rgba(55, 20, 6, 0.9) 40%,
                rgba(55, 20, 6, 1) 45%,
                rgba(55, 20, 6, 1) 50%,
                rgba(55, 20, 6, 1) 75%,
                rgba(55, 20, 6, 1) 100%);
            z-index: 1;
          }
        }

        .swiper-pagination {
          position: absolute;
          right: 10px;
          top: 82%;
          z-index: 9999999999;
        }

        .swiper-pagination-bullet {
          width: 5px;
          height: 3px;
          border-radius: 12px;
          background-color: #999;
          transition: width 0.3s, background-color 0.3s;
        }

        .swiper-pagination-bullet-active {
          width: 20px;
          background-color: #bfbfbf;
        }
      }
    }

    .modal {
      width: 100%;
      background-color: #2f0e0139;

      .form-label,
      .modal-title {
        color: white;
      }

      .modal-content {
        background-color: #411b0c71;
        backdrop-filter: blur(5px);

        input {
          background-color: #c1a29373;
          border: none;

          &:focus {
            transform: scale(1.02);
            background-color: #c1a293;
          }
        }
      }

      @media (max-width: 576px) {
        .modal-content {
          margin: 10px;
          padding: 10px;
        }

        .modal-body {
          padding: 15px 10px;
        }

        .form-control {
          font-size: 16px;
        }

        .modal-title {
          font-size: 20px;
        }
      }
    }

    #menu {
      width: 100%;
      height: auto;
      @include flex-center();
      flex-direction: column;
      gap: 10px;

      .banner-container {
        width: 100%;
        height: 45dvh;
        @include flex-center();
        flex-direction: column;
        background-image: url("../img/bg_cliente.jpg");
        background-size: cover;
        justify-content: flex-start;

        .banner-perfil {
          width: 100%;
          height: 60%;
          @include flex-center();
          justify-content: center;

          .txt {
            @include flex-center();
            flex-direction: column;
            margin-top: -10%;
            gap: 5px;

            h3 {
              color: $colorQuartenary;
              font-weight: 400;
            }
          }

          .foto-perfil {
            width: 30%;
            height: auto;
            @include flex-center();
            margin: -10% -4% 0% 6%;

            img {
              width: 60px;
              height: auto;
              border-radius: 15px;
            }
          }
        }

        .pesquisa {
          width: 100%;
          @include flex-center();
          justify-content: space-around;

          .pesquisar {
            width: 250px;
            height: 60px;
            background: #2a2a2a;
            border-radius: 15px;
            color: #a2a2a2;
            @include flex-center();
            justify-content: center;

            .pes {
              width: 400px;
              @include flex-center();
              justify-content: flex-start;
              margin-left: 20px;

              h5 {
                font-size: 15px;
              }
            }
          }

          .config {
            width: 70px;
            height: 50px;
            background: #a36a4f;
            border-radius: 10px;
            @include flex-center();
          }
        }
      }

      .promo {
        .promocao {
          img {
            border-radius: 15px;
            width: 350px;
            position: relative;
            top: -50px;
          }
        }

        .escritasPromo {
          h5 {
            @include flex-center();
            width: 25%;
            height: 40px;
            border-radius: 10px;
            background: #ed5151;
            position: relative;
            top: -185px;
            left: 25px;
            font-size: 20px;
            color: white;
          }
        }

        .escritasFree {
          background: #313131;
          width: 170px;
          height: 20px;
          color: white;
          position: relative;
          top: -175px;
          left: 25px;
          font-family: "Solway", serif;

          h6:first-child {
            display: flex;
            justify-content: flex-start;
            font-size: 23pt;
            width: 200px;
            position: relative;
            top: -15px;
          }

          h6:nth-child(2) {
            background: #313131;
            display: flex;
            justify-content: flex-start;
            font-size: 22pt;
            height: 20px;
            width: 150px;

            span {
              position: relative;
              top: -15px;
            }
          }
        }
      }

      .filtro {
        width: 100%;
        display: flex;
        margin: -28% 0% 2% 0%;

        .filtros {
          width: 100%;
          display: flex;
          gap: 5px;
          justify-content: center;
          flex-wrap: wrap;
          position: relative;

          button {
            padding: 10px 10px;
            border: none;
            background-color: #f1e3db;
            color: #333;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s ease;
            font-family: "Solway", serif;

            &:hover {
              background-color: #d7b8a5;
            }

            &.ativo {
              background-color: #a97452;
              color: #fff;
            }
          }
        }
      }

      .lista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 110px;

        .card {
          background-color: #fff;
          border-radius: 15px;
          padding: 15px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          font-family: "Solway", serif;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
          }

          img {
            width: 100%;
            border-radius: 12px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 1.1rem;
            color: #333;
            margin-bottom: 4px;
          }

          p {
            color: #888;
            font-size: 0.9rem;
            margin-bottom: 8px;
          }

          strong {
            color: #a97452;
            font-size: 1rem;
            font-weight: bold;
          }

          .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .btn-info {
              background-color: #a97452;
              border: none;
              padding: 1% 6%;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #8a5f42;
              }

              a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }

      .footer-section {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: 100px;
        position: fixed;
        bottom: 0;
        border-radius: 30px 30px 0 0;
        background-color: white;
        @include flex-center();
        justify-content: space-evenly;

        a {
          position: relative;
          color: #5e3c2d;
          text-decoration: none;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 10%;
            height: 2px;
            background-color: #5e3c2d;
            border-radius: 1px;
            transform: translateX(-50%);
            transition: width 0.5s ease;
          }

          &:hover::after {
            width: 100%;
          }

          &.active::after {
            width: 100%;
          }

          i {
            font-size: 2em;
            color: #5e3c2d;
            transition: 0.5s;

            &:hover {
              transform: translateY(-5%);
            }
          }
        }
      }
    }

    #detalhes {
      width: 100%;
      height: auto;
      background: linear-gradient(to top, #eecdc5, #fff);

      .header {
        @include flex-center();
        justify-content: space-between;
        padding: 16px;

        .back {
          width: 10px;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

        h2 {
          font-weight: 600;
          font-size: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .favorite {
          width: 10px;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }
      }

      .image-container {
        width: 100%;
        margin-right: 0;
        border-radius: 20px;

        img {
          margin-left: 25px;
        }
      }

      .content {
        padding: 16px;

        .title-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            font-size: 22px;
          }
        }

        .icons {
          display: flex;
          gap: 10px;

          .icon {
            background-color: #dbb09f52;
            padding: 8px;
            border-radius: 10px;
            font-size: 18px;
          }
        }

        .rating {
          margin: 8px 0;
          display: flex;
          align-items: center;
          gap: 7px;
          color: #555;
        }

        h4 {
          margin-top: 16px;
          margin-bottom: 8px;
          font-weight: 600;
        }

        .description {
          color: #888;
          font-size: 14px;
          line-height: 1.5;
        }

        .read-more {
          color: #d37e6d;
          cursor: pointer;
        }

        .sizes {
          display: flex;
          gap: 16px;

          .size {
            padding: 10px 18px;
            border: 1px solid #eee;
            border-radius: 12px;
            background-color: #fff;
            cursor: pointer;
            font-weight: 500;

            &.active {
              border-color: #d37e6d;
              background-color: #fdf1ef;
            }
          }
        }
      }

      .footerSection {
        width: 100%;
        height: 77px;
        background: $colorBg1;
        padding-top: 5%;
        border-radius: 25px 25px 0px 0px;


        .footer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .price {
            .label {
              font-size: 14px;
              color: #888;
            }

            .amount {
              font-size: 20px;
              font-weight: bold;
              color: #7b4f3c;
            }
          }

          .reserve {
            background-color: #7b4f3c;
            color: white;
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              background-color: #6a4234;
            }
          }
        }
      }
    }

    #pedidos {
      width: 100%;
      height: auto;
      @include flex-center();
      flex-direction: column;
      gap: 10px;

      .banner-container {
        width: 100%;
        height: 35dvh;
        @include flex-center();
        flex-direction: column;
        background-image: url("../img/bg_cliente.jpg");
        background-size: cover;

        .banner-perfil {
          width: 100%;
          height: 60%;
          @include flex-center();
          justify-content: center;

          .txt {
            @include flex-center();
            flex-direction: column;
            margin-top: -10%;
            gap: 5px;

            h3 {
              color: $colorQuartenary;
              font-weight: 400;
            }
          }

          .foto-perfil {
            width: 30%;
            height: auto;
            @include flex-center();
            margin: -10% -4% 0% 6%;

            img {
              width: 60px;
              height: auto;
              border-radius: 15px;
            }
          }
        }

        .pesquisa {
          width: 100%;
          @include flex-center();
          justify-content: space-around;

          .pesquisar {
            width: 250px;
            height: 60px;
            background: #2a2a2a;
            border-radius: 15px;
            color: #a2a2a2;
            @include flex-center();
            justify-content: center;

            .pes {
              width: 400px;
              @include flex-center();
              justify-content: flex-start;
              margin-left: 20px;

              h5 {
                font-size: 15px;
              }
            }
          }

          .config {
            width: 70px;
            height: 50px;
            background: #a36a4f;
            border-radius: 10px;
            @include flex-center();
          }
        }
      }

      .filtro {
        width: 100%;
        margin-left: 11%;


        .filtros {
          width: 100%;

          button {
            padding: 6px 6px;
            border: none;
            background-color: #f1e3db;
            color: #333;
            border-radius: 10px;
            cursor: pointer;
            font-weight: 500;
            transition: 0.3s ease;
            font-family: "Solway", serif;

            &:hover {
              background-color: #d7b8a5;
            }

            &.ativo {
              background-color: #a97452;
              color: #fff;
            }
          }
        }
      }

      .lista {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 110px;

        .card {
          background-color: #fff;
          border-radius: 15px;
          padding: 15px;
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;
          font-family: "Solway", serif;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
          }

          img {
            width: 100%;
            border-radius: 12px;
            margin-bottom: 10px;
          }

          h3 {
            font-size: 1.1rem;
            color: #333;
            margin-bottom: 4px;
          }

          p {
            color: #888;
            font-size: 0.9rem;
            margin-bottom: 8px;
          }

          strong {
            color: #a97452;
            font-size: 1rem;
            font-weight: bold;
          }

          .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;

            .btn-info {
              background-color: #a97452;
              border: none;
              padding: 1% 6%;
              border-radius: 5px;
              cursor: pointer;
              transition: background-color 0.3s ease;

              &:hover {
                background-color: #8a5f42;
              }

              a {
                color: white;
                text-decoration: none;
                font-size: 1rem;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
      }

      .footer-section {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        height: 100px;
        position: fixed;
        bottom: 0;
        border-radius: 30px 30px 0 0;
        background-color: white;
        @include flex-center();
        justify-content: space-evenly;

        a {
          position: relative;
          color: #5e3c2d;
          text-decoration: none;
          display: inline-block;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 10%;
            height: 2px;
            background-color: #5e3c2d;
            border-radius: 1px;
            transform: translateX(-50%);
            transition: width 0.5s ease;
          }

          &:hover::after {
            width: 100%;
          }

          &.active::after {
            width: 100%;
          }

          i {
            font-size: 2em;
            color: #5e3c2d;
            transition: 0.5s;

            &:hover {
              transform: translateY(-5%);
            }
          }
        }
      }
    }

    #reserva {
      width: 100%;
      height: auto;
      background: linear-gradient(to top, #eecdc5, #fff);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        h2 {
          font-weight: 600;
          font-size: 28px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        button {
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;
        }
      }

      .back {
        width: 10px;

        img {
          width: 20px;
        }
      }

      .favorite {
        img {
          width: 25px;
        }
      }

      .image-container {
        width: 100%;
        margin-right: 0;
        border-radius: 20px;

        img {
          margin-left: 25px;
        }
      }

      .content {
        padding: 16px;

        .title-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            font-size: 22px;
          }
        }

        .icons {
          display: flex;
          gap: 10px;

          .icon {
            background-color: #dbb09f52;
            padding: 8px;
            border-radius: 10px;
            font-size: 18px;
          }
        }

        .rating {
          margin: 8px 0;
          display: flex;
          align-items: center;
          gap: 7px;
          color: #555;
        }

        h4 {
          margin-top: 16px;
          margin-bottom: 8px;
          font-weight: 600;
        }

        .description {
          color: #888;
          font-size: 14px;
          line-height: 1.5;
        }

        .read-more {
          color: #d37e6d;
          cursor: pointer;
        }

        .sizes {
          display: flex;
          gap: 16px;

          .size {
            padding: 10px 18px;
            border: 1px solid #eee;
            border-radius: 12px;
            background-color: #fff;
            cursor: pointer;
            font-weight: 500;

            &.active {
              border-color: #d37e6d;
              background-color: #fdf1ef;
            }
          }
        }
      }

      .footerSection {
        width: 100%;
        height: 91px;
        background: $colorBg1;
        padding-top: 5%;
        border-radius: 25px 25px 0px 0px;

        .footer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .price {
            .label {
              font-size: 14px;
              color: #888;
            }

            .amount {
              font-size: 20px;
              font-weight: bold;
              color: #7b4f3c;
            }
          }

          .reserve {
            background-color: #7b4f3c;
            color: white;
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              background-color: #6a4234;
            }
          }
        }
      }
    }

    #perfil {
      width: 100%;
      height: auto;
      background: linear-gradient(to top, #eecdc5, #fff);
      @include flex-center();
      flex-direction: column;
      gap: 10px;

      .perfilTop {
        width: 90%;
        @include flex-center();
        justify-content: space-between;

        .back {
          width: 10px;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

      }

      .perfilFoto {
        width: 140px;
        height: auto;
      }

      .perfilInput {
        width: 100%;
        display: flex;
        z-index: 9999999;

        .perfilLabel {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;

          .mx-auto {
            width: 80%;
          }
        }
      }

      /* Cabeçalho */
      .text-brown {
        color: #5c2e00;
      }

      .label-custom {
        color: #a67b56;
        font-weight: 600;
      }

      /* Imagem de perfil */
      .perfil-img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 24px;
      }

      /* Inputs mantém o fundo branco */
      .input-custom {
        background-color: $colorBg1;
        border: none;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }


      .footerSection {
        width: 100%;
        height: 91px;
        background: $colorBg1;
        padding-top: 5%;
        border-radius: 25px 25px 0px 0px;

        .footer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .price {
            .label {
              font-size: 14px;
              color: #888;
            }

            .amount {
              font-size: 20px;
              font-weight: bold;
              color: #7b4f3c;
            }
          }

          .reserve {
            background-color: #7b4f3c;
            color: white;
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              background-color: #6a4234;
            }
          }
        }
      }
    }

    #editarPerfil {
      width: 100%;
      height: auto;
      background: linear-gradient(to top, #eecdc5, #fff);
      @include flex-center();
      flex-direction: column;
      gap: 10px;

      .perfilTop {
        width: 90%;
        @include flex-center();
        justify-content: space-between;

        .back {
          width: 10px;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

      }

      .perfilFoto {
        width: 140px;
        height: auto;
      }

      .perfilInput {
        width: 100%;
        display: flex;
        z-index: 9999999;

        .perfilLabel {
          width: 100%;
          height: auto;
          display: flex;
          justify-content: flex-start;

          .mx-auto {
            width: 80%;
          }
        }
      }

      /* Cabeçalho */
      .text-brown {
        color: #5c2e00;
      }

      .label-custom {
        color: #a67b56;
        font-weight: 600;
      }

      /* Imagem de perfil */
      .perfil-img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 24px;
      }

      /* Inputs mantém o fundo branco */
      .input-custom {
        background-color: $colorBg1;
        border: none;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }


      .footerSection {
        width: 100%;
        height: 91px;
        background: $colorBg1;
        padding-top: 5%;
        border-radius: 25px 25px 0px 0px;

        .footer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .price {
            .label {
              font-size: 14px;
              color: #888;
            }

            .amount {
              font-size: 20px;
              font-weight: bold;
              color: #7b4f3c;
            }
          }

          .reserve {
            background-color: #7b4f3c;
            color: white;
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              background-color: #6a4234;
            }
          }
        }
      }
    }

    #avaliacao {
      width: 100%;
      height: auto;
      background: linear-gradient(to top, #eecdc5, #fff);

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        .back,
        .favorite {
          width: 10px;
          background: none;
          border: none;
          font-size: 24px;
          cursor: pointer;

          img {
            width: 20px;
          }
        }

        h2 {
          font-weight: 600;
          font-size: 28px;
        }
      }

      .image-container {
        width: 100%;
        margin-right: 0;
        border-radius: 20px;

        img {
          margin-left: 25px;
          max-width: 90%;
        }
      }

      .content {
        padding: 16px;

        .title-row {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h3 {
            font-size: 22px;
          }
        }

        .icons {
          display: flex;
          gap: 10px;

          .icon {
            background-color: #dbb09f52;
            padding: 8px;
            border-radius: 10px;
            font-size: 18px;
          }
        }

        .rating {
          margin: 8px 0;
          display: flex;
          align-items: center;
          gap: 7px;
          color: #555;
        }

        h4 {
          margin-top: 16px;
          margin-bottom: 8px;
          font-weight: 600;
        }

        .description {
          color: #888;
          font-size: 14px;
          line-height: 1.5;
        }

        .sizes {
          display: flex;
          gap: 16px;

          .size {
            padding: 10px 18px;
            border: 1px solid #eee;
            border-radius: 12px;
            background-color: #fff;
            cursor: pointer;
            font-weight: 500;

            &.active {
              border-color: #d37e6d;
              background-color: #fdf1ef;
            }
          }
        }

        .avaliacao {
          margin-bottom: 16px;
          background-color: #fff7f5;
          padding: 10px;
          border-radius: 10px;
          font-size: 14px;
          color: #333;

          p {
            margin: 4px 0;
          }

          hr {
            margin-top: 10px;
            border: 0;
            border-top: 1px solid #eee;
          }
        }
      }

      .footerSection {
        width: 100%;
        height: 77px;
        background: $colorBg1;
        padding-top: 5%;
        border-radius: 25px 25px 0px 0px;


        .footer {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .price {
            .label {
              font-size: 14px;
              color: #888;
            }

            .amount {
              font-size: 20px;
              font-weight: bold;
              color: #7b4f3c;
            }
          }

          .reserve {
            background-color: #7b4f3c;
            color: white;
            padding: 10px 24px;
            border: none;
            border-radius: 14px;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              background-color: #6a4234;
            }
          }
        }
      }
    }

      .container {
        max-width: 400px;
        background-color: #222;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
        margin: 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
      

      h1 {
        color: $titulosColor;
        font-family: $titulosFont;
        font-size: 28px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }

      .input-group {
        margin-bottom: 25px;

        label {
          display: block;
          color: $whiteColor;
          font-size: 16px;
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 0.5px;
        }

        input {
          width: 100%;
          padding: 12px 15px;
          background-color: #333;
          border: 1px solid #555;
          border-radius: 5px;
          color: $whiteColor;
          font-size: 16px;
        }
      }

      .btn {
        margin-top: 10px;
      }
    }
    }
  }
